<!DOCTYPE html>
<html>
	<head>
		<link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
		<link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
		<link rel="stylesheet" href="../static/eventsStyle.css">
		<meta charset="UTF-8">
	</head>

	<body>
		<div class="nav">
			<div class="container">
				<ul class="pull-left">
					<li><a href="#">HOME</a></li>
				</ul>
				<ul class="pull-right">
					<li><a href="#">Sign In</a></li>
					<li><a href="#">Log In</a></li>
				</ul>
			</div>
		</div>

		<div class="list">
			<div class="container">
				<!-- div para el prototype -->
				<div class="row prototype event">
					<div class="col-md-9">
						
							<div class="row titleAndRating">
								<div class="pull-left">
									<a href="#"><h2></h2></a>
								</div>
								<div class="pull-right">
									<div id="14271358842283" class="wE">
										<script src="http://widget-engine.com/w:0:003:14271358842283:3:000:40" type="text/javascript"></script>
										<a href="http://widget-engine.com/ratingcode.php" class="wE" title="Free Rating Code for your webprojects"></a>
									</div>
								</div>
							</div>
							
							<p></p>
						
					</div>
					<div>
						<img class="col-md-3" src="">
					</div>
				</div>
				<!-- fin del div para el prototype-->				
			</div>
			
		</div>

		<div class="footer">
			<div class="container">
				<ul class="pull-left">
					<li>Grupo 17</li>
				</ul>
				<ul class="pull-right">
					<li>Proyecto DAW</li>
				</ul>
			</div>
		</div>
	</body>
</html>