<!DOCTYPE html>
<html>
	<head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">

		<script>
		$(document).ready(function(){
		    $("#nav-header").load("navegador.html");
		});
		</script>
		<script>
		$(document).ready(function(){
			var winHeight = $(window).height() - $(".footer").height();
			var listHeight = $(".list").height();
			
			if ( winHeight > listHeight) {
				$(".list").css("height", winHeight);
			}
			
		});
		</script>
	</head>

	<body>
		<div id="nav-header"></div>

		<div class="list">
			<div class="container">
				<!-- div para el prototype -->
				<div class="row prototype event">
					<div class="col-md-9">
						
							<div class="row titleAndRating">
								<div class="pull-left">
									<a href="#"><h2></h2></a>
								</div>
								<div class="pull-right">
									<div id="14271358842283" class="wE">
										<script src="http://widget-engine.com/w:0:003:14271358842283:3:000:40" type="text/javascript"></script>
										<a href="http://widget-engine.com/ratingcode.php" class="wE" title="Free Rating Code for your webprojects"></a>
									</div>
								</div>
							</div>
							
							<p></p>
						
					</div>
					<div>
						<img id="imgEvents" class="col-md-3" src="">
					</div>
				</div>
				<!-- fin del div para el prototype-->				
			</div>
		</div>

		<div class="footer">
			<div class="container">
				<ul class="pull-left">
					<li>Grupo 17</li>
				</ul>
				<ul class="pull-right">
					<li>Proyecto DAW</li>
				</ul>
			</div>
		</div>
	</body>
</html>