<!DOCTYPE html>
<html>

<head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">

<!--<body>
<div class="nav">
    <div class="container">
        <ul class="pull-left">
            <li><a href="#">HOME</a></li>
        </ul>
        <ul class="pull-right">
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Log In</a></li>
        </ul>
    </div>
</div>-->

	<script>
	$(document).ready(function(){
	    $("#nav-header").load("navegador.html");
	});
	</script>
</head>

<body>
	<div id="nav-header"></div>

	<div class="jumbotron">
	    <div class="container">
	        <h1>Madrid</h1>

	        <p>Descubre. Comparte.</p>
	        <a href="#">Learn More</a>
	    </div>
	</div>

	<div class="neighborhood-guides">
	    <div class="container">
	        <h2>Lo que necesitas saber</h2>

	        <p>Algún texto que ahora mismo no se me ocurre, pero se me ocurrirá.</p>

	        <div class="row">
	            <div class="col-md-4">
	                <div class="thumbnail">
	                    <img src="../static/oso.jpg">
	                    <h3>Vida nocturna</h3>
	                    <p>blablabla</p>
	                    <p><a href="#">Los lugares secretos para salir</a></p>
	                </div>
	            </div>
	            <div class="col-md-4">
	                <div class="thumbnail">
	                    <img src="../static/granvia.jpg">
	                     <h3>Turismo</h3>
	                    <p>blablablabla</p>
	                    <p><a href="#">Más allá del Palacio Real</a></p>
	                </div>
	            </div>
	            <div class="col-md-4">
	                <div class="thumbnail">
	                    <img src="../static/tiopepe.jpg">
	                    <h3>Gastronomía</h3>
	                    <p>minguitogay</p>
	                    <p><a href="#">Tapas y cañas</a></p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="learn-more">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-4">
	                <h3>Vida nocturna</h3>

	                <p>blablabla</p>

	                <p><a href="#">Los lugares secretos para salir</a></p>
	            </div>
	            <div class="col-md-4">
	                <h3>Turismo</h3>

	                <p>blablablabla</p>

	                <p><a href="#">Más allá del Palacio Real</a></p>
	            </div>
	            <div class="col-md-4">
	                <h3>Gastronomía</h3>

	                <p>minguitogay</p>

	                <p><a href="#">Tapas y cañas</a></p>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>
