.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.list {
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}

.list h2 {
  color: #393c3d;
  font-size: 24px;
}

.list p {
  font-size: 15px;
  margin-bottom: 13px;
}

.wE {
  padding-top: 18px;
}

.prototype {
  display: none;
}

img {
  padding: 15px;
  height: 271px;
  width: 242px;
}

.footer {
  background-color: #f7f7f7;
}

.footer li {
  display: inline;
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}