
.jumbotron {
  background-image: url('./cibeles.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 25px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

.modal-title {
  color: #FFFFFF;
  font-size: 18px;
}

.modal-header {
    background-color: #77BED2;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#header {
  background-color: #D5E1DD;
  box-shadow: 6px 6px 29px -10px rgba(0,0,0,0.51);
  width: 100%;

  position: fixed;
  z-index: 2;
}

.button-nav {
  font-family: sans-serif;
  color: black;
  font-size: 16px;
  background: #D5E1DD;
  padding: 6px 10px 6px 10px;
  border: solid #D5E1DD 2px;
  text-decoration: none;
}

.button-nav:hover{
  background-color: #2B3E42;
  border-color: #2B3E42;
  color: white;
  box-shadow: 6px 6px 29px -10px rgba(0,0,0,0.51);
}

.footer {
  background-color: #f7f7f7;
}

.footer li {
  display: inline;
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

/*style de events*/
.list {
  padding-top: 60px; /*lo pongo para que al salir un evento la parte de arriba no quede tapada por el header*/
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}

.list h2 {
  color: #393c3d;
  font-size: 24px;
}

.list p {
  font-size: 15px;
  margin-bottom: 13px;
}

.wE {
  padding-top: 18px;
}

.prototype {
  display: none;
}

#imgEvents {
  padding: 15px;
  height: 271px;
  width: 242px;
}
/*FIN style de events*/